<main role="main" id="root" data-phx-hook="ShopifyUserToken" phx-hook="ShopifyUserToken">
  <.toast kind={:info} flash={@flash} id="toastinfo" />
  <.toast kind={:error} flash={@flash} id="toasterror" />

  <.page title={@page_title} subtitle={@page_subtitle} full_width={@page_full_width}>
    <:title_metadata :if={@page_title_metadata}>
      {@page_title_metadata}
    </:title_metadata>
    <:back_action :for={back_action <- @page_back_action} {back_action} />
    <:primary_action :for={primary_action <- @page_primary_action} {primary_action} />
    <:secondary_action :for={secondary_action <- @page_secondary_action} {secondary_action} />
    {@inner_content}
  </.page>
  <.box padding="400"><%!-- spacer --%></.box>
</main>
