<main role="main" id="root" data-phx-hook="ShopifyUserToken" phx-hook="ShopifyUserToken">
  <.s_query_container container_name="Page">
    <.s_page id="PageRoot">
      {@inner_content}
    </.s_page>
  </.s_query_container>
</main>
